
<div class="body-container">
    
    <div class="flex-row">
        <div class="flex-row">
            <mat-form-field class="form-field">
                <input matInput #fromDt [matDatepicker]="dateFrom" placeholder="From date" [(ngModel)]="fromDate"
                    required (dateChange)="dateChange(fromDt.value,'From')" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
                <mat-datepicker #dateFrom></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="form-field">
                <input matInput #toDt [matDatepicker]="dateTo" placeholder="To date" [(ngModel)]="toDate" required
                    (dateChange)="dateChange(toDt.value,'To')" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
                <mat-datepicker #dateTo></mat-datepicker>
            </mat-form-field>
        </div>
        <div></div>
    </div>

    <div *ngIf="loading" class="flex-row">
        <mat-progress-bar class="example-margin" color="primary" mode="query">
        </mat-progress-bar>
    </div>

    <div class="flex-row">
        <canvas baseChart height="120" [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
            [chartType]="lineChartType" [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div>