<div class="body-container">
    <form #formData="ngForm" class="change-pw-form" novalidate [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm)">
       <div class="flex-row">
            <mat-form-field class="item">
                <input #oldPassword 
                matInput
                placeholder="Old Password"
                autocomplete="off"
                formControlName = "oldPassword"
                [type]="hideOldPassword ? 'password' : 'text'"
                (blur)="hideOldPassword= true"
                autofocus
                />
                <mat-icon matSuffix (click)="hideOldPassword = !hideOldPassword">{{
                    hideOldPassword? 'visibility' : 'visibility_off'    
                    }}</mat-icon>
               <mat-error>Password length is not valid (6 to 15).</mat-error>
               <mat-hint>Enter your current password.</mat-hint>
            </mat-form-field>          
        </div>
        <div class="flex-row">
            <mat-form-field class="item">
                <input   
                matInput                
                placeholder="New Password"
                autocomplete="off"
                formControlName = "newPassword"
                [type]="hideNewPassword ? 'password' : 'text'"
                (blur)="hideNewPassword= true"
                />
                <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{
                hideNewPassword? 'visibility' : 'visibility_off'    
                }}</mat-icon>
                <mat-error>Password length is not valid (6 to 15).</mat-error>
                <mat-hint>Enter your new password.</mat-hint>
            </mat-form-field>
        </div>
        <div style="display: flex;">
            <div class="item">
                <button mat-raised-button color="primary">
                Change Password
                </button>
            </div>
        </div>
         
    </form>
</div>