<meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
<meta http-equiv="expires" content="startOn">
<meta http-equiv="pragma" content="no-cache">

<iframe width="300px" height="200px" style="display: none;" (load)="loaded()" [src]="url | safe" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>

<!-- <iframe *ngIf="checkshow" src="https://nirekha.com/home" id="theframe" (load)="loaded()"></iframe> -->